
/* reset default values to 0 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* navbar-top put everything inside it as flex */
.navbar-top * {
    display: flex;
    padding: 0.3em;
    background-color: rgb(115, 187, 255);
    gap: 20px;
    place-content: center ;
}

/* nav-bottom take care of padding and colors */
.navbar-bottom {
    border: 1em solid white;
    margin: 0px 10em 0px 10em;
}

/* flex container  */
.container-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* icon containter as flex itself */
.container-icon {
    display: flex;
}

/* anything inside container will be center self */
.container-icon * > {
    align-self: center;
}

/* control icon itself */
.icon {
    border-radius: 50%;
}

/* control headlines as flex alone */
.container-headline {
    display: flex;
    gap: 20px;
}

/* control everything inside the headline container to self center */
.container-headline > * {
    color: black;
    padding: 10px 4px 10px 4px;
    align-self: center;
    text-decoration: none;
    font-size: large;
}

.container-headline a:hover {
    color: azure;
    background-color: #717171;
    opacity: 0.5;
    border-radius: 0.8em;
}

/* advertisement */
* {box-sizing: border-box; border-radius: 2%;}
    .mySlides {display: none}
    img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 90vw;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 5px 20px ;
    background-color: rgb(115, 187, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Company name */
.container-main-name {
    display: flex;
    text-align: center;
    background-color: #ebebeb;
    padding: 2em;
    justify-content: center;
    flex-wrap: wrap;
}
.container-main-name h1 {
    text-align: center;
    font-style:oblique ;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

/* Cards style */

.container-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    padding: 1em;
}

.container-cards p {
    user-select: none;
    overflow: scroll;
    max-height: 10em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(115, 187, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/* top-footer */
.container-footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    place-content: center;
    padding: 0.5em;
    background-color: #2e2e2e;
    color: aliceblue;
}

.container-footer-top img {
    transition: 0.5s;
}
.container-footer-top img:hover {
    transform: translateY(-10px);
}

/* bottom footer */
.container-bottom-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(115, 187, 255);
    padding: 1em;
    justify-content: space-around;
    user-select: none;
}


.container-location {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 1em;
}
.container-verified {
    gap: 5px;
    display: flex;
}



/* On smaller screens or mobile phones */
@media only screen and (max-width: 572px) {
    .navbar-bottom {
        border: 1em solid white;
        margin: 0em 2em 0em 2em;
    }
    .prev, .next,.text {font-size: 11px}
    /* Company name */
    .container-main-name h1 {
        text-align: center;
        font-style:oblique ;
        font-size: 1.5em;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    }
    /* Cards */
    .container-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2em;
        padding: 2em;
    }
}